In [30]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [31]:
import os
df_train=pd.read_excel('trainhiri-rs-new.xlsx',sheet_name='Train')
df_test=pd.read_excel('testhiri-rs-new.xlsx',sheet_name='Test')
df=pd.concat([df_train[['utterance','intent']],df_test[['utterance','intent']]])
le=preprocessing.LabelEncoder()
le.fit(df['intent'])

LabelEncoder()

In [32]:
df_train.shape

(16575, 2)

In [33]:
df_test.shape

(3795, 3)

## Preprocessing

In [34]:
import re
def clean_text(text):
    text=text.lower()
#     text=re.sub('\w*\d\w*','', text)
    text=re.sub('\n',' ',text)
    text=re.sub(r"http\S+", "", text)
    text=re.sub('[^A-Za-z0-9]',' ',text)
    return text

df_train['utterance']=df_train['utterance'].apply(lambda x: clean_text(x))

df_train['utterance']

df_train['utterance']=df_train['utterance'].apply(lambda x: re.sub(' +',' ',x))
df_train['utterance']=df_train['utterance'].str.replace(".", "")

# selecting on > 2 len sentence utterances
df_trainutt=df_train["utterance"].values
df_trainutt
s = pd.Series(df_trainutt)
df_train["utt"]=s.str.split().to_frame()
type(s.str.split().to_frame())
df_train['Length'] = df_train['utt'].str.len()
df_train
#last step
df_train.query('Length > 2', inplace = True) 
df_train=df_train[["utterance","intent"]]
df_train

,utterance,intent
0,i am unable to access my profile through dbs ...,onboarding.letter_of_appointment
1,i have not received any notice of new team me...,onboarding.arrangements_for_new_hire_prior_to_...
2,500 iflex top up,iflex.what_can_be_claimed_against_iflex
3,1 lot of dbs share,shares.how_can_i_find_out_the_price_of_a_dbsh_...
5,13 month bonus,payroll.annual_wage_supplement
...,...,...
16569,year end compensation review,compensation.how_to_access_the_year-end_comp_r...
16570,yearly annual leave,leave.can_i_take_leave
16571,yearly bonus crediting date,payroll.when_is_our_bonus_credited
16572,yearly bonus date,payroll.when_is_our_bonus_credited
16573,yearly due date for course registration,training.what_is_the_official_cut-off_date_and...

## Label encoding

In [39]:
df_train['intent1']=le.transform(df_train['intent'])

df_test['intent1']=le.transform(df_test['intent'])

df_train.to_excel('trainhiri-rs-new-labelled.xlsx',index=None)

df_test.to_excel('testhiri-rs-new-labelled.xlsx',index=None)

pd.concat([df_train[['intent','intent1']],df_test[['intent','intent1']]]).drop_duplicates().rename(columns={'intent1':'mapping'}).to_excel('mapping.xlsx',index=None)

In [40]:
df_test

,utterance,intent,intent1
0,staff overseas rate,offboarding.can_i_offset_my_notice_period,196
1,overseas fund transfer for staff,internal_mobility.internal_mobility_applicatio...,100
2,carry over leave,leave.can_i_carry_forward_my_leave,140
3,dbs share,shares.how_can_i_find_out_the_price_of_a_dbsh_...,403
4,mobility,internal_mobility.internal_mobility,98
...,...,...,...
3790,how do i enroll for i share,shares.how_to_join_ishares,407
3791,how do i change the contribution for i share,shares.can_i_stop_or_change_my_ishares_contrib...,399
3792,how can i reactivate,general_benefits.benefits,44
3793,hi my access have be deny due to password expire,onboarding.new_hire_1bank_password,213
3794,when will i receive my referral fee,employee_referral_programme.one_name_each_guide,31

In [41]:
df_train

,utterance,intent,intent1
0,i am unable to access my profile through dbs ...,onboarding.letter_of_appointment,211
1,i have not received any notice of new team me...,onboarding.arrangements_for_new_hire_prior_to_...,205
2,500 iflex top up,iflex.what_can_be_claimed_against_iflex,76
3,1 lot of dbs share,shares.how_can_i_find_out_the_price_of_a_dbsh_...,403
5,13 month bonus,payroll.annual_wage_supplement,219
...,...,...,...
16569,year end compensation review,compensation.how_to_access_the_year-end_comp_r...,8
16570,yearly annual leave,leave.can_i_take_leave,142
16571,yearly bonus crediting date,payroll.when_is_our_bonus_credited,284
16572,yearly bonus date,payroll.when_is_our_bonus_credited,284
16573,yearly due date for course registration,training.what_is_the_official_cut-off_date_and...,503